    <div class="add-dispatch-note-page">
        <div class="form-container">
            <mat-card>
            <mat-card-content>
             <form [formGroup]="addDispatchNoteForm" >            
                <h4 class="text-on-form">Unesite podatke otpremnice</h4>
                <div style="display: flex; flex-direction: row; gap: 120px; margin-bottom: 40px;">
                <mat-form-field>
                    <mat-label for="number">Broj otpremnice</mat-label>
                    <input matInput type="text" id="number" class="form-control" formControlName="number" /> 
                    <mat-error *ngIf="addDispatchNoteForm.controls['number'].hasError('required') && addDispatchNoteForm.controls['number'].dirty">
                        {{validationMessages.number.required}}
                    </mat-error>
                    <mat-error *ngIf="addDispatchNoteForm.controls['number'].hasError('pattern') && addDispatchNoteForm.controls['number'].dirty">
                        {{validationMessages.number.pattern}}
                    </mat-error>                                  
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="shippingMethod">Način otpreme</mat-label>
                    <input matInput type="text" id="shippingMethod" class="form-control" formControlName="shippingMethod" />
                    <mat-error *ngIf="addDispatchNoteForm.controls['shippingMethod'].hasError('required') && addDispatchNoteForm.controls['shippingMethod'].dirty">
                        {{validationMessages.shippingMethod.required}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" formControlName="selectedDate" placeholder="Izaberite datum">
                    <mat-datepicker-toggle matSuffix [for]="picker"><mat-icon>date_range</mat-icon></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="addDispatchNoteForm.get('selectedDate')?.hasError('required') && addDispatchNoteForm.controls['selectedDate'].dirty">Datum je obavezan.</mat-error>    
                  </mat-form-field></div>
            <div style="display: flex; flex-direction: row; gap: 120px;margin-bottom: 40px;">
                <mat-form-field>
                    <mat-label>Izaberite dobavljača</mat-label>
                    <mat-select formControlName="supplier">
                    <mat-option *ngFor="let supplier of suppliers" [value]="supplier.taxId">{{ supplier.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="addDispatchNoteForm.get('supplier')?.hasError('required')">Dobavljač je obavezan.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="conCompany">Građevinsko preduzeće</mat-label>
                    <input matInput type="text" id="conCompany" class="form-control" formControlName="conCompany" />
                    <mat-error *ngIf="addDispatchNoteForm.controls['conCompany'].hasError('required') && addDispatchNoteForm.controls['conCompany'].dirty">
                    {{validationMessages.conCompany.required}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="purchaseOrder">Po narudžbenici</mat-label>
                    <input matInput type="text" id="purchaseOrder" class="form-control" formControlName="purchaseOrder"/>    
                    <mat-error *ngIf="addDispatchNoteForm.controls['purchaseOrder'].hasError('required') && addDispatchNoteForm.controls['purchaseOrder'].dirty">
                    {{validationMessages.purchaseOrder.required}}
                    </mat-error>
                    <mat-error *ngIf="addDispatchNoteForm.controls['purchaseOrder'].hasError('pattern') && addDispatchNoteForm.controls['purchaseOrder'].dirty">
                    {{validationMessages.purchaseOrder.pattern}}
                    </mat-error>         
                </mat-form-field>
                </div>
    
                <div formArrayName="items">
                    <div *ngFor="let item of itemsFormArray?.controls; let i = index" [formGroupName]="i">
                        <div style="display: flex; flex-direction: row; gap: 10px;">
                        <mat-form-field>
                            <mat-label>Artikal</mat-label>
                            <mat-select formControlName="itemA" (valueChange)="onItemAChange($event, i)" required>
                                <mat-option *ngFor="let itemA of itemsA" [value]="itemA.name">{{ itemA.name }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="item.get('itemA')!.hasError('required')&&item.get('itemA')">Artikal je obavezan.</mat-error>
                        </mat-form-field>
                        <mat-form-field class="small-input">
                            <mat-label>JM</mat-label>
                            <input matInput class="small-input" readonly type="itemAMU" formControlName="itemAMU"  />
                         </mat-form-field>
                        <mat-form-field class="small-input">
                            <mat-label>Cena</mat-label>
                            <input matInput class="small-input" readonly type="itemAPrice" formControlName="itemAPrice" /> 
                        </mat-form-field>
                        <mat-form-field class="small-input">
                            <mat-label>Količina</mat-label>
                            <input matInput class="small-input" type="number" formControlName="quantity" required />
                            <mat-error *ngIf="item.get('quantity')!.hasError('required')">Količina je obavezna.</mat-error>
                            <mat-error *ngIf="item.get('quantity')!.hasError('pattern')">Količina mora biti ceo broj.</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Napomena</mat-label>
                            <input matInput type="text" formControlName="note" />
                        </mat-form-field>
                        <mat-form-field >
                            <mat-label>Stavka narudžbenice</mat-label>
                            <input matInput  type="number" formControlName="itemOfPurchaseOrder" required />
                            <mat-error *ngIf="item.get('itemOfPurchaseOrder')!.hasError('required')">Broj stavke narudžbenice je obavezan.</mat-error>
                            <mat-error *ngIf="item.get('itemOfPurchaseOrder')!.hasError('pattern')">Broj stavke narudžbenice sastoji se samo od cifara.</mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="warn" (click)="deleteItem(i)">Obriši</button>
                        </div>
                    </div>
                </div>

                <button mat-raised-button color="primary" (click)="addItem()">Dodaj stavku</button>

       
                

                <div class="btn-container">
                    <button mat-raised-button color="primary" [disabled]="addDispatchNoteForm.invalid" (click)="addDispatchNote($event)">Zapamti</button>
                    <button type="reset" mat-raised-button color="warn" >Poništi</button>
                </div>



            </form>
            </mat-card-content>
        </mat-card>
        

        </div>
    </div>        