<div class="form-container">
    <form [formGroup]="addSupplierForm" (ngSubmit)="addSupplier($event)">
        <h4 class="text-on-form">Unesite podatke o novom dobavljaču</h4>

        <mat-form-field class="form-group">
            <mat-label>PIB</mat-label>
            <input matInput type="text" id="taxId" formControlName="taxId" />
            <mat-error
                *ngIf="addSupplierForm?.get('taxId')?.hasError('required') && addSupplierForm?.get('taxId')?.dirty">
                {{ validationMessages.taxId.required }}
            </mat-error>
            <mat-error
                *ngIf="addSupplierForm?.get('taxId')?.hasError('pattern') && addSupplierForm?.get('taxId')?.dirty">
                {{ validationMessages.taxId.pattern }}
            </mat-error>
            <mat-error
                *ngIf="addSupplierForm?.get('taxId')?.hasError('minLength') && addSupplierForm?.get('taxId')?.dirty">
                {{ validationMessages.taxId.minLength }}
                <mat-error
                    *ngIf="addSupplierForm?.get('taxId')?.hasError('maxLength') && addSupplierForm?.get('taxId')?.dirty">
                    {{ validationMessages.taxId.maxLength }}
                </mat-error>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-group">
            <mat-label>Naziv</mat-label>
            <input matInput type="text" id="name" formControlName="name" />
            <mat-error
                *ngIf="addSupplierForm.controls['name'].hasError('required') && addSupplierForm.controls['name'].dirty">
                {{validationMessages.name.required}}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-group">
            <mat-label>Tekući račun</mat-label>
            <input matInput type="text" id="currentAccount" formControlName="currentAccount" />
            <mat-error
                *ngIf="addSupplierForm.controls['currentAccount'].hasError('required') && addSupplierForm.controls['currentAccount'].dirty">
                {{validationMessages.currentAccount.required}}
            </mat-error>
            <mat-error
                *ngIf="addSupplierForm.controls['currentAccount'].hasError('minlength') && addSupplierForm.controls['currentAccount'].dirty">
                {{validationMessages.currentAccount.minLength}}
            </mat-error>
            <mat-error
                *ngIf="addSupplierForm.controls['currentAccount'].hasError('maxlength') && addSupplierForm.controls['currentAccount'].dirty">
                {{validationMessages.currentAccount.maxLength}}
            </mat-error>
            <mat-error
                *ngIf="addSupplierForm.controls['currentAccount'].hasError('pattern') && addSupplierForm.controls['currentAccount'].dirty">
                {{validationMessages.currentAccount.pattern}}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-group">
            <mat-label>Broj telefona</mat-label>
            <input matInput type="text" id="phoneNumber" formControlName="phoneNumber" />
            <mat-error
                *ngIf="addSupplierForm.controls['phoneNumber'].hasError('pattern') && addSupplierForm.controls['phoneNumber'].dirty">
                {{validationMessages.phoneNumber.pattern}}
            </mat-error>
            <mat-error
                *ngIf="addSupplierForm.controls['phoneNumber'].hasError('required') && addSupplierForm.controls['phoneNumber'].dirty">
                {{validationMessages.phoneNumber.required}}
            </mat-error>
        </mat-form-field>

        <p class="form-group">Sedište kompanije</p>

        <div class="combobox-row">

            <mat-form-field class="form-group">
                <mat-label>Mesto</mat-label>
                <mat-select id="city" formControlName="city" (selectionChange)="onCitySelectionChange($event)">
                    <mat-option *ngFor="let city of cities" [value]="city">{{ city.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="form-group">
                <mat-label>Ulica</mat-label>
                <mat-select id="street" formControlName="street" (selectionChange)="onStreetSelectionChange($event)">
                    <mat-option *ngFor="let street of streets" [value]="street">{{ street.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="form-group">
                <mat-label>Broj</mat-label>
                <mat-select id="number" formControlName="number" (selectionChange)="onNumberSelectionChange($event)">
                    <mat-option *ngFor="let number of numbers" [value]="number">{{ number.number }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="btn-container">
            <button mat-raised-button color="primary" [disabled]="addSupplierForm.invalid"
                (click)="addSupplier($event)">Zapamti</button>
            <button type="reset" mat-raised-button color="warn">Poništi</button>
        </div>
    </form>
</div>